.App {
    height: 100vh;
    background-color: blue;
}

.container {
    height: 100vh;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .pages {
        padding: 0 10%;
    }
 
}
@media screen and (min-width: 1400px) {
    .pages {
        padding: 0 20%;
    }
} 